html {
  background-color: #4ababad4;
}

.app-container {
  width: 50%;
  margin: auto;
  margin-top: 10rem;
}
.user-inputs input {
  height: 25px;
  background-color: #cfe9e9;
  border: none;
  outline: none;
}

.user-inputs button {
  width: 25%;
  align-items: center;
  cursor: pointer;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}

.user-inputs button:hover {
  border: 1px solid black;
}
.user-inputs,
input,
button {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-bottom: 1rem;
}

.fees-container {
  display: flex;
  justify-content: space-between;
}
